.boxclass{
    background-color: green;
    border:solid 5px grey;
    position:absolute;
    width: 180px;
    height: 50px;
}
#box1{
    left: 30px;
    top: 50px;
    z-index: 1;
    color:blue;
    background-color: yellow;
    
}
#box2{
    left: 100px;
    top:  5px;
    z-index: 0;
    color: red;
    background-color: cyan;
   
    
}
#box3{
    left: 80px;
    top:  35px;
    z-index: 2;
    color: black;
    background-color: green;
    
    
}